Package: com.iosdump.appmute
Name: AppMute
Depends: mobilesubstrate
Version: 0.0.1
Architecture: iphoneos-arm
Description: 支持iOS14-17桌面长按图标快捷开启启动应用自动静音媒体音量开关。
Maintainer: iosdump
Author: iosdump
Section: Tweaks
