Package: com.iosdump.appmute
Name: AppMute (启动静音)
Depends: mobilesubstrate
Version: 1.0.0
Architecture: iphoneos-arm
Description: iOS 14-17 桌面长按图标快捷添加“启动静音”开关，打开该App时自动将音量调至0，且彻底隐藏系统音量进度条(HUD)。
Maintainer: iosdump
Author: iosdump
Section: Tweaks
